<div class="container">
	<div class="col-sm-9 main-content">
		<br><br>
		<div class="row">
			<section>
				<h1 class="heading">Simulador de Créditos</h1>
				<div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <br>
                        <p>
                            Un simulador de crédito es una herramienta que te ofrecen las instituciones financieras para ayudarte a calcular el valor de las cuotas mensuales que tendrías que pagar por el crédito que te interese contratar, tomando en cuenta la tasa de interés que maneje la institución, el plazo y demas parametros que te ayuden a calcular estos elementos.
                        </p>
                        <p> 
                            El Banco Comercial de Manabí con el objeto de ampliar sus conocimientos sobre Educación financiera, pone a su disposición un simulador de creditos.
                        </p>
                        <br>
                        <center>
                            <a class="btn btn-success" href="http://192.168.10.23/utilidad/simulador" target="_blank">Ir al Simulador de crédito</a>
                        </center>
                    </div>  
                </div>
		
			</section>
		</div>	

		
				
				<br>
				<br>
				<br>
				<br>
	</div>

	<div class="col-sm-3" style="padding:0;">
		<!-- <br><br>
		<aside>
			<h4 class="aside-heading">Contenidos de sección</h4>
			<ul>
				<li><a onclick="$('.main-menu').goTo();">Contenido 1</a></li>
				<li><a onclick="$('#superintendencia').goTo();">Contenido 2</a></li>
				<li><a onclick="$('#junta_bancaria').goTo();">Contenido 3</a></li>						
			</ul>
		</aside> -->
	</div>
</div>
