<nav class="main-menu hidden-xs">
    <div class="container">
        <ul >
            <li id="main-menu-1"><a ui-sref="index">Inicio</a></li>
            <li id="main-menu-2"><a ui-sref="bancos">Bancos <br>¿Qué son? ¿Cómo funcionan?</a></li>
            <li id="main-menu-3"><a ui-sref="productos_servicios">Bancos <br>Productos y Servicios</a></li>
            <li id="main-menu-4"><a ui-sref="medio_financiero">Intituciones <br>Medio Financiero</a></li>
            <li id="main-menu-5"><a ui-sref="terminos_basicos">Glosario <br> de Términos</a></li>
            <li id="main-menu-6"><a ui-sref="simulador_credito">Simulador <br> Crédito</a></li>
	        <li id="main-menu-7"><a ui-sref="presupuesto_familiar">Presupuesto <br> Familiar</a></li>
            <li id="main-menu-8"><a ui-sref="preguntas_frecuentes">Preguntas <br> Frecuentes</a></li>
        </ul>
    </div>    
</nav>
