<div class="container">
    <div class="col-sm-9 main-content">
        <br><br>
        <div class="row" id="creditos">
            <section>
                <h1 class="heading">PRESUPUESTO FAMILIAR</h1>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <br>
                        <img src="img/presupuesto_familiar/presupuestofamiliar.png" alt="" class="img-responsive"/>
                    </div>
                    <br><br>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <br>
                        <p>
                            Tener un plan de ingresos y gastos es clave en las familias y así evitará problemas financieros.
                        </p>
                        <p> 
                            El Banco Comercial de Manabí con el objeto de ampliar sus conocimientos sobre Educación financiera, pone a su disposición un ejemplo de presupuesto familiar y así iniciar el año con una vida ordenada en términos financieros.
                        </p>
                        <br>
                        <center>
                            <a class="btn btn-success" href="img/presupuesto_familiar/Presupuesto_Familiar.pdf" target="_blank">Ver Documento</a>
                        </center>
                    </div>  
                </div>
            </section>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
