<div class="container">
	<div class="col-sm-9 main-content">
		<br><br>
		<div class="row" id="creditos">
			<section>
				<h1 class="heading">CRÉDITOS: PRÉSTAMOS</h1>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						<img src="img/productos_servicios/grafico_prestamos.png" alt="" class="img-responsive"/>
					</div>
					<br><br>
				</div>	
				<div class="row">
					<div class="col-xs-12 col-sm-10">
						<p>Los bancos ofrecen préstamos para uso personal, inversión empresarial, compra
							de autos, construcción y vivienda. Cada tipo de préstamo tiene términos y
							condiciones que corresponden a la forma en que el dinero será utilizado. Por
							ejemplo, un préstamo de vivienda normalmente tiene un plazo mucho más
							extenso que un préstamo personal. Los préstamos
						</p>
						<p>
							<ul>
								<li>Los préstamos personales se otorgan para fi nes personales, familiares y del hogar, mejoras en la casa, viajes, reparación del auto y consolidación de deudas. Son préstamos para personas naturales.
								</li>
								<li> Los préstamos empresariales pueden fi nanciar el inicio o expansión de una empresa. Incluyen líneas de crédito para fortalecer el capital de trabajo y préstamos a plazo. Éstos préstamos son para empresas legalmente establecidas que puedan presentar documentos empresariales y legalesapropiados, así como un plan de negocios.
								</li>
							</ul>
							</p>
							<p>Los bancos obtienen sus ingresos y pagan los intereses de sus depositantes a través del interés que los prestatarios pagan por el uso temporal de los fondos delbanco. Por eso, of La diversidad de productos de un banco es una gran ventaja quelos bancos tienen sobre otras instituciones financieras.</p>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<img src="img/productos_servicios/productos_servicios1.png" alt="" class="img-responsive"/>
							</div>
						</div>				
					</section>
				</div>	
				
				<div class="row" style="padding-top: 50px;" id="cheque">
					<section>
						<h1 class="heading">EL CHEQUE</h1>
						<div class="row">
						<div class="col-xs-12 col-sm-10">
							<p>Es el mandato puro y simple de pagar una suma determinada de dinero.
								Constituye la orden incondicional de pago por medio del cual el girador dispone al girado el pago de una determinada suma de dinero a un beneficiario.
							</p>
							<p>
								El cheque debe cumplir con las características físicas, electromagnéticas, de diseño, dimensiones y seguridades establecidas por la Superintendencia de Bancos y Seguros.
							</p>
						</div>
						</div>									
					</section>
				</div>	

				
				<div class="row" style="padding-top: 50px;" id="servicios_bancarios">
					<section>
						<h1 class="heading">SERVICIOS BANCARIOS ELECTRÓNICOS</h1>
						<div class="row">
						<div class="col-xs-12 col-sm-10">
							<p>"Ir al banco" antes significaba largas filas en el banco y mucha pérdida de tiempo. Sin embargo, la introducción y difusión de la banca electrónica ha transformado el significado de esa frase.
							</p>
							<p>En muchas áreas urbanas, uno puede efectuar sus transacciones bancarias en
								cajeros automáticos convenientemente ubicados cada vez que desee, las 24 horas del día.
							</p>
							<p>
								Las tarjetas de Crédito están disponibles para los clientes que tienen cuentas corrientes. La tarjetas de Débito están vinculada a su cuenta de Ahorros; puede utilizarla para realizar compras en muchas tiendas y para efectuar transacciones bancarias en cajeros automáticos.
							</p>							
						</div>
						</div>	
						<br>
						<div class="row">
							<div class="col-sm-5 col-sm-offset-2">
								<img src="img/productos_servicios/productos_servicios2.png" alt="" class="img-responsive"/>
							</div>
						</div>			
					</section>
				</div>	

				
				<div class="row" style="padding-top: 50px;" id="polizas">
					<section>
						<h1 class="heading">PÓLIZAS DE SEGURO</h1>
						<div class="row">
							<div class="col-xs-12 col-sm-10">
							<p>¿Qué es una póliza de Seguros?</p>
							<p>Una póliza de seguro es un contrato entre el asegurado y una Compañía de
								Seguros, donde se establecen los derechos y obligaciones de ambas partes, las Coberturas (son los riesgos que asume el asegurador y que se describen en la póliza), en relación al seguro contratado. Existe una gama muy amplia de riesgos a asegurar, por lo que recomendamos que antes de tomar un seguro, se informe detalladamente de las características del producto, para determinar con precisión los riesgos cubiertos y las exclusiones existentes. Una vez que acepte la propuesta, se procede con la Solicitud de la Póliza (Formulario impreso con las coberturas)
							</p>
						</div>	
						</div>	
						<br>
						<div class="row">
							<div class="col-sm-6 col-sm-offset-2">
								<img src="img/productos_servicios/productos_servicios3.png" alt="" class="img-responsive"/>
							</div>
						</div>			
					</section>
				</div>
				
				<div class="row" style="padding-top: 50px;" id="banca">
					<section>
						<h1 class="heading">BANCA EN LÍNEA</h1>
						<div class="row">
						<div class="col-xs-12 col-sm-10">
							<p>
								La banca por Internet o en línea comprende aquellas herramientas que ofrecen una entidad para que sus clientes hagan sus operaciones bancarias a través de la computadora utilizando una conexión a la red Internet. Para otros investigadores la banca por Internet es un nuevo tipo de sistema de información que usa los recursos novedosos de Internet y la World Wide Web (WWW) para permitir a los consumidores efectuar operaciones financieras en el espacio virtual. VENTAJAS Y BARRERAS
							</p>
							<p>Desde el punto de vista del consumidor, la banca en línea ofrece una serie 	de ventajas que permiten crear:
							</p>
							<p>
								<ul>
									<li>Comodidad y servicios de conveniencia</li>
									<li>24 horas al día, 7 días a la semana.</li>
									<li>Operaciones desde casa.</li>
									<li>Acceso global.</li>
									<li>Ahorro en tiempo.</li>
									<li>Transparencia en la información.</li>
									<li>Capacidad de elección de los clientes.</li>
									<li>Oferta de productos y servicios personalizados.</li>
								</ul>
							</p>
						</div>	
						</div>	
					</section>
				</div>
				<br>
				<br>
				<br>
				<br>
			</div>


			<div class="col-sm-3" style="padding:0;">
				<br><br>
				<aside class="affix">
					<h4 class="aside-heading">Contenidos de sección</h4>
					<ul>
						<li><a onclick="$('.main-menu').goTo();">Créditos: Préstamos</a></li>
						<li><a onclick="$('#cheque').goTo();">El cheque</a></li>
						<li><a onclick="$('#servicios_bancarios').goTo();">Servicios bancarios electrónicos</a></li>
						<li><a onclick="$('#polizas').goTo();">Pólizas de seguro</a></li>
						<li><a onclick="$('#banca').goTo();">Banca en línea</a></li>
					</ul>
				</aside>
			</div>
		</div>