<div class="container">
	<div class="col-sm-9 main-content">
		<br><br>
		<div class="row" id="bancos">
			<section>
				<h1 class="heading">¿QUÉ SON LOS BANCOS?</h1><br>
				<div class="row">
					<p class="col-sm-10">Son instituciones encargadas de realizar intermediaciones financieras entre diferentes sectores. Están facultadas para recibir depósitos de personas que posean suficientes recursos económicos, y luego otorgar créditos a sectores que lo necesiten. Los bancos están obligados a mantener reservas con la finalidad de contar con activos disponibles para seguridad de los depositantes.
					</p>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						<img src="img/bancos/bancos2.png" alt="" class="img-responsive"/>
					</div>
				</div>
			</section>
		</div>
		
		<div class="row" id="beneficios" style="padding-top: 50px;">
			<section>
				<h1 class="heading">BENEFICIOS DE LOS BANCOS</h1><br>
				<div class="row">
				<div class="col-sm-10">
					<p>Aunque la formalidad de las oficinas bancarias pueda ser intimidante y sus productos, servicios y cargos relacionados no siempre sean fácilmente entendidos, los bancos ofrecen varias maneras de mejorar nuestras condiciones económicas, a través de ahorros y préstamos que podrían ser muy útiles para usted. Hay muchos otros beneficios, como los siguientes:
					</p>
					<p>
						<ul>
							<li> Como ahorrista, puede gozar de la seguridad que ofrecen los bancos mientras sus ahorros crecen con los intereses.
							</li>
							<li>Utilizar un banco para ahorrar impone una disciplina que es difícil de mantener cuando uno trata de lograrlo en casa.</li>
							<li>
								Ahorrar en un banco mantiene su dinero lejos de otros que podrían presionarlo para gastarlo o que podrían sentir la tentación de gastarlo ellos mismos. 
							</li>
							<li>
								Al pedir un préstamo a un banco se puede crear un historial crediticio oficial ampliamente reconocido, no comparable experiencia con fuentes de crédito informales.
							</li>
						</ul>
					</p>
					<p>Los bancos están regulados por el estado, lo que minimiza su riesgo al depositar sus fondos allí.</p>
				</div>					
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6 col-sm-offset-2">
						<img src="img/bancos/bancos1.png" alt="" class="img-responsive"/>
					</div>
				</div>
			</section>
		</div>	

		<div class="row" id="razones" style="padding-top: 50px;">
			<section>
				<h1 class="heading">RAZONES PARA AHORRAR</h1><br>
				<div class="row">
					<div class="col-sm-10">
						<p>Los ahorros representan el dinero que una persona o una familia guarda para
							usar en el futuro. Un factor crítico en la buena administración del dinero son los
							ahorros ya que ayudan a las personas a controlar sus ingresos, minimizar sus
							gastos y alcanzar sus metas económicas.
						</p>
						<p>
							Las personas pueden utilizar sus ahorros para satisfacer necesidades
							proyectadas o inesperadas. Los ahorros permiten equilibrar el flujo de efectivo,
							decidir gastos opcionales e invertir en bienes y negocios. En caso de emergencias
							y crisis, los ahorros permiten responder de inmediato y, con el tiempo,
							recuperarse de la pérdida resultante de ingresos o propiedades.
							La mayoría de los bancos ofrece cuentas de ahorro que responden a diferentes
							metas de ahorro: de corto, mediano y largo plazo.
						</p>
						<p>
							<i>Ahorro a corto plazo</i>. Son cuentas para realizar depósitos regulares y retiros
							frecuentes y pueden ser de ahorros o corrientes. Dichas cuentas ofrecen pocas
							restricciones y pagan una tasa de interés limitada. Permiten evitar el riesgo de
							llevar grandes cantidades de efectivo consigo y ahorrar a mediano y largo plazo.
						</p>
						<p>
							<i>Ahorro a largo plazo</i>. Si tiene metas de ahorro con un plazo más largo, los bancos
							ofrecen varias cuentas a plazo diseñadas para alentar los depósitos. Estas
							cuentas, conocidas con diferentes nombres en distintas partes del mundo
							(Cuentas a plazo fijo, Certificados de depósito, etc.) pagan un interés más alto y
							normalmente la tasa de interés aumenta con la cantidad que se desee ahorrar y
							el tiempo de ahorro.
						</p>
					</div>					
				</div>				
			</section>
		</div>	

		<div class="row" id="presupuesto" style="padding-top: 50px;">
			<section>
				<h1 class="heading">PRESUPUESTO FAMILIAR</h1><br>
				<div class="row">
					<div class="col-sm-10">
						<p>Para tomar el control de su dinero, tome conciencia de cómo gasta y en qué gasta y asigne a su dinero un propósito más claro.
						</p>
						<p><i>"Un presupuesto es un plan que muestra lo que uno hará con su dinero."</i></p>
						<p>Un presupuesto es una herramienta bastante simple que cualquier persona, rica
							o pobre, puede usar para administrar su dinero. Es una especie de mapa que
							puede ayudarle a llegar, desde el punto en que está ahora, a una meta financiera determinada. Las metas financieras pueden ser de corto plazo, como salir de deudas, cumplir con los gastos diarios sin pedir dinero prestado, pagar los gastos escolares o ahorrar para una necesidad o deseo especial.</p>
						<p>Las metas también pueden ser de largo plazo, como ahorrar para comprar una
								casa o para cuando se retire del mercado laboral. Elaborar un presupuesto le ayudará a distribuir sus recursos para alcanzar múltiples metas.</p>
						<p>Se puede hacer tres cosas con el dinero: gastar, ahorrar o invertir.</p>
					</div>
				</div>				
					</section>
				</div>		
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="col-sm-3 hidden-xs sidebar" style="padding:0;">
			<br><br>
				<aside class="affix">
					<h4 class="aside-heading">Contenidos de sección</h4>
					<ul>
						<li><a onclick="$('.main-menu').goTo();">¿Qué son los bancos?</a></li>
						<li><a onclick="$('#beneficios').goTo();">Beneficios de los bancos</a></li>
						<li><a onclick="$('#razones').goTo();">Reazones para ahorrar</a></li>
						<li><a onclick="$('#presupuesto').goTo();">Presupuesto familiar</a></li>
					</ul>
				</aside>
			</div>
		</div>