<div class="container">
    <div class="col-sm-9 main-content">
        <br /><br />
        <div class="row terminos_basicos">
            <section>
                <h1 class="heading">GLOSARIO DE TÉRMINOS</h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-10">
                        <p style="padding-top: 1.5em;">
                            Los términos utilizados en el presente capítulo,
                            deberán entenderse de acuerdo con las siguientes
                            definiciones:
                        </p>

                        <!-- Desde la letra A hasta la B -->
                        <section  id="seccion_A">
                            <div class="row">
                                <div class="row" style="padding-top: 1.5em;">
                                    <h2 class="indice">A</h2>
                                    <p>
                                        <label>Art.58</label>. El girado puede pagar
                                        un cheque aún después de expirar los plazos
                                        establecidos en el Art. 25 y dentro de los
                                        trece meses posteriores a la fecha de su
                                        emisión.
                                    </p>
                                    <p>
                                        <label>Anulación</label>. Es el acto por
                                        medio del cual el titular o el girador de
                                        una cuenta corriente solicita al banco
                                        girado se deje sin efecto uno o más
                                        formularios de cheques.
                                    </p>
                                    <h2 class="indice">B</h2>
                                    <p>
                                        <b>Beneficiario</b>. Es la persona natural o
                                        jurídica a nombre de quien se emite un
                                        cheque.
                                    </p>
                                </div>
                            </div>                            
                        </section>

                        <!-- Desde la letra C hasta la D -->
                        <section id="seccion_C">
                            <div class="row">
                                <div class="row" style="padding-top: 1.5em;">
                                    <h2 class="indice">C</h2>
                                    <p>
                                        <label>Caducidad</label>. Es la pérdida de
                                        validez de un cheque por efecto del
                                        vencimiento del plazo de presentación al
                                        cobro, establecido en el artículo 58 de la
                                        Ley de Cheques.
                                    </p>
                                    <p>
                                        <label>Cuenta corriente bloqueada</label>.
                                        Es la cuenta corriente que no puede ser
                                        manejada por su titular o persona
                                        autorizada, en base a una disposición
                                        judicial o de autoridad competente.
                                    </p>
                                    <p>
                                        <label>Cuenta corriente cerrada</label>. Es
                                        aquella cuenta corriente sobre la que, por
                                        disposición de la Superintendencia de Bancos
                                        y Seguros, no se puede girar ni pagar
                                        cheques, ni registrar otros movimientos de
                                        captaciones o retiros, debido a que su
                                        titular, girador, firma conjunta o firma
                                        autorizada ha sido sancionado por el
                                        incumplimiento de disposiciones legales o
                                        reglamentarias.
                                    </p>
                                    <br/>
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-2">
                                            <img
                                                src="img/terminos_basicos/terminos_basicos1.png"
                                                alt=""
                                                class="img-responsive"
                                            />
                                        </div>
                                    </div>
                                    <br />
                                    <p>
                                        <label>Cheque certificado</label>. Es el cheque cuyo
                                        girado asegura el pago del importe al beneficiario
                                        consignando la palabra "certificado" de forma
                                        escrita, la fecha y firma de la persona autorizada
                                        por el girado, liberando al girador de la
                                        responsabilidad del pago del mismo.
                                    </p>
                                    <p>
                                        <label>Cheque de gerencia o de emergencia</label>.
                                        Es el cheque girado por el gerente o funcionario
                                        autorizado del banco girado a petición del cuenta
                                        habiente, quien por no disponer de formularios de
                                        cheques, debe recurrir a su banco para que le gire
                                        un cheque por la cantidad que requiera. Este cheque
                                        debe estar girado a nombre del beneficiario que
                                        señale el cuentahabiente o a su propio nombre.
                                    </p>
                                    <p>
                                        <label>Cheque certificado</label>. Es el cheque cuyo
                                        girado asegura el pago del importe al beneficiario
                                        consignando la palabra "certificado" de forma
                                        escrita, la fecha y firma de la persona autorizada
                                        por el girado, liberando al girador de la
                                        responsabilidad del pago del mismo.
                                    </p>
                                    <p>
                                        <label>Cheque de gerencia o de emergencia</label>.
                                        Es el cheque girado por el gerente o funcionario
                                        autorizado del banco girado a petición del cuenta
                                        habiente, quien por no disponer de formularios de
                                        cheques, debe recurrir a su banco para que le gire
                                        un cheque por la cantidad que requiera. Este cheque
                                        debe estar girado a nombre del beneficiario que
                                        señale el cuentahabiente o a su propio nombre.
                                    </p>
                                    <h2 class="indice">D</h2>
                                    <p>
                                        <label>Defecto de fondo</label>. Se entenderá por
                                        defecto de fondo a la carencia de alguno de los
                                        requisitos que deben constar en el cheque, de
                                        conformidad con las disposiciones contenidas en el
                                        artículo 1 de la Ley de Cheques, salvo lo previsto
                                        en el artículo 2 del mismo cuerpo legal, referente
                                        al lugar del pago.
                                    </p>
                                    <p>
                                        <label>Defecto de forma</label>. Se considerará
                                        defecto de forma: la falta de sello de antefirma
                                        registrado en el banco, el uso de cintas adhesivas o
                                        de corrugados en las cifras de la cantidad o en los
                                        textos. La devolución surtirá efecto siempre que
                                        cuente con la suficiente provisión de fondos, caso
                                        contrario se protestará.
                                    </p>
                                    <p>
                                        <label>Devolución</label>. Es la entrega del cheque
                                        por parte del girado, por efectos del protesto o del
                                        rechazo del pago, en los términos del artículo 24 de
                                        la Ley de Cheques.
                                    </p>
                                    
                                    <p>
                                        <label>Firma registrada</label>. Es la firma que
                                        consta en la tarjeta de registro del banco, la que
                                        deberá ser igual a la que consta en la cédula de
                                        ciudadanía, de identidad, pasaporte o documento de
                                        identificación, según corresponda.
                                    </p>
                                    <p>
                                        <label>Defecto de fondo</label>. Se entenderá por
                                        defecto de fondo a la carencia de alguno de los
                                        requisitos que deben constar en el cheque, de
                                        conformidad con las disposiciones contenidas en el
                                        artículo 1 de la Ley de Cheques, salvo lo previsto
                                        en el artículo 2 del mismo cuerpo legal, referente
                                        al lugar del pago.
                                    </p>
                                    <p>
                                        <label>Defecto de forma</label>. Se considerará
                                        defecto de forma: la falta de sello de antefirma
                                        registrado en el banco, el uso de cintas adhesivas o
                                        de corrugados en las cifras de la cantidad o en los
                                        textos. La devolución surtirá efecto siempre que
                                        cuente con la suficiente provisión de fondos, caso
                                        contrario se protestará.
                                    </p>
                                    <p>
                                        <label>Devolución</label>. Es la entrega del cheque
                                        por parte del girado, por efectos del protesto o del
                                        rechazo del pago, en los términos del artículo 24 de
                                        la Ley de Cheques.
                                    </p>
                                </div>
                            </div>                            
                        </section>

						<!-- Desde la letra E hasta la I -->
						<section id="seccion_E">
                            <div class="row">
                                <div class="row" style="padding-top: 1.5em;">
                                    <h2 class="indice">E</h2>
                                    <p>
                                        <label>Endosante</label>. Persona que transmite a
                                        otra, por medio del endoso, los derechos y
                                        responsabilidades del cheque.
                                    </p>
    
                                    <h2 class="indice">F</h2>
                                    <p>
                                        <label>Firma autorizada</label>. Es la firma de la
                                        persona que consta en los registros del banco,
                                        previamente autorizada por el titular, para girar
                                        cheques contra la cuenta corriente del titular.
                                    </p>
                                    <div class="col-sm-6 col-sm-offset-2">
                                        <img
                                            src="img/terminos_basicos/terminos_basicos2.png"
                                            alt=""
                                            class="img-responsive"
                                        />
                                    </div> 
                                    <p>
                                        <label>Firma conjunta</label>. Son las firmas de las
                                        personas que constan en los registros del banco y
                                        que están autorizadas a girar cheques contra una
                                        cuenta corriente, y que para la emisión del cheque
                                        deben constar la una junto a la otra.
                                    </p>
        
                                    <h2 class="indice">G</h2>
                                    <p>
                                        <label>Girador</label>. Es la persona natural que
                                        emite el cheque, pudiendo tener la calidad, ya sea
                                        de titular, firma autorizada individual o firma
                                        autorizada conjunta.
                                    </p>
                                    <p>
                                        <label>Girado o banco</label>. Es la institución que
                                        está autorizada legalmente para recibir depósitos
                                        monetarios. Es la entidad obligada a pagar,
                                        protestar o rechazar según el caso, el importe de un
                                        cheque girado.
                                    </p>
                                </div>
                            </div>
						</section>


						<!-- Desde la letra J hasta la P -->
						<section id="seccion_J">
                            <div class="row">
                                <div class="row" style="padding-top: 1.5em;">
                                    <h2 class="indice">J</h2>
                                    <p>
                                        <label>Jurídico</label>. Se refiere a todo lo relacionado con el derecho
                                        y la legislacion, en el ámbito financiero, este concepto es crucial, ya 
                                        que todas las transacciones y contratos están regidos por normas y leyes 
                                        que aseguran su validez y ejecución.
                                    </p>
                                    
                                    <h2 class="indice">P</h2>
                                    <p>
                                        <label>Plazo de presentación</label>. Conforme lo
                                        establece el artículo 25 de la Ley General de
                                        Cheques, deberán presentarse al pago dentro de los
                                        veinte (20) días contados desde la fecha de su
                                        emisión, aquellos cheques girados y pagaderos en el
                                        Ecuador; mientras que los cheques girados en el
                                        exterior y pagaderos en el Ecuador, se presentarán
                                        al pago dentro del plazo de noventa (90) días
                                        contados desde la fecha de su emisión. Sin embargo,
                                        el girado puede pagar un cheque en el Ecuador hasta
                                        trece meses posteriores a la fecha de su emisión.
                                    </p>
                                    <p>
                                        <label>Portador o tenedor</label>. Es la persona que
                                        posee el cheque en su calidad de beneficiario o
                                        endosatario.
                                    </p>
                                    <div class="row">
                                        <div class="col-sm-5 col-sm-offset-2">
                                            <img
                                                src="img/terminos_basicos/terminos_basicos3.png"
                                                alt=""
                                                class="img-responsive"
                                            />
                                        </div>
                                    </div>

                                    <p>
                                        <label>Protesto</label>. Es la negativa del girado a
                                        pagar un cheque presentado al cobro que no cuenta
                                        con la suficiente provisión de fondos, o por haberse
                                        girado en cuenta corriente cerrada, cancelada o por
                                        cheque girado por persona inhabilitada o no
                                        autorizada a la fecha de giro.
                                    </p>
                                    <p>
                                        El protesto puede ser total, si se protesta sobre el
                                        valor total del cheque, o parcial, si se ha
                                        efectuado un pago parcial sobre dicho cheque.
                                    </p>

                                </div>
                            </div>
						</section>


						<!-- Desde la letra Q hasta la Z -->
						<section id="seccion_Q">
                            <div class="row">
                                <div class="row" style="padding-top: 1.5em;">
                                    <h2 class="indice">Q</h2>
                                    <p>
                                        <label>Quotación</label>. Se refiere al precio o valor 
                                        asignado a un activo financiero en el mercado. 
                                        Este concepto es fundamental en la compra y venta de instrumentos 
                                        financieros, como acciones, bonos, divisas y otros activos
                                    </p>
                                </div>

                                <h2 class="indice">R</h2>
                                <p>
                                    <label>Rechazo del cheque</label>. Es el acto
                                    mediante el cual el girado niega el pago y devuelve
                                    el cheque por defectos de fondo o de forma, excepto
                                    por insuficiencia de fondos, en cuyo caso
                                    corresponde el protesto.
                                </p>

                                <h2 class="indice">T</h2>
                                <p>
                                    <label>Titular</label>. Es la persona o personas
                                    naturales, o la persona Jurídica, que previo el
                                    cumplimiento de los requisitos establecidos en este
                                    capítulo, proceden a la apertura de una cuenta
                                    corriente en una entidad bancaria autorizada.
                                </p>
                            </div>
						</section>
                    </div>
                </div>
            </section>
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>

    <!-- Indice alfabetico -->
    <div class="col-sm-3" style="padding:0;">
        <br /><br />
        <aside>
            <h4 class="aside-heading">Índice Alfabético</h4>
            <ul>
                <li><a style="color: green; font-weight: bold;" onclick="$('#seccion_A').goTo();">A - B</a></li>
                <li><a style="color: green; font-weight: bold;" onclick="$('#seccion_C').goTo();">C - D</a></li>
                <li><a style="color: green; font-weight: bold;" onclick="$('#seccion_E').goTo();">E - I</a></li>
                <li><a style="color: green; font-weight: bold;" onclick="$('#seccion_J').goTo();">J - P</a></li>
                <li><a style="color: green; font-weight: bold;" onclick="$('#seccion_Q').goTo();">Q - Z</a></li>
            </ul>
        </aside>
    </div>
</div>

<style>

    p {
        clear: both;
    }

    .indice {
        color: green;
    }

</style>