<div class="row">
    <section id="section1">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 wp1">
                    <img src="img/home/home1.png" class="img-responsive pull-right" />
                </div>
                <div class="col-lg-4">
                    <p class="p1-section1">Con el prop&oacute;sito de apoyar en la formación de conocimientos  en el campo financiero, hemos creado nuestro "Programa de Educación Financiera"</p>
                    <p class="p2-section1">para que clientes y público en general puedan tomar mejores decisiones de carácter económico para su vida cotidiana.</p>
                    <br/>
                </div>
            </div>
        </div>
        <div class="down">
            <button type="button" onclick="$('#section2').goTo();"></button>
        </div>
    </section>

    <section id="section2">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                <h1>BENEFICIOS DE LOS BANCOS</h1>
                    <p>Aunque la formalidad de las oficinas bancarias pueda ser intimidante, los bancos ofrecen varias maneras de mejorar nuestras condiciones económicas.</p>
                    <p><a href="#/bancos#beneficios">Ver más</a></p>
                </div>
                <div class="col-sm-4 wp2">
                    <img src="img/home/home2.png" class="img-responsive"/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="down">
            <button type="button" onclick="$('#section3').goTo();"></button>
        </div>
    </section>

    <section id="section3">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 wp3">
                    <img src="img/home/home3.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                <h1>EL CHEQUE</h1>
                    <p>Es una orden incondicional de pago por medio del cual el girador dispone al girado el pago de una determinada suma de dinero a un beneficiario.</p>
                     <p><a href="#/productos_servicios#cheque">Ver más</a></p>
                    <br/>
                </div>
            </div>
        </div>
        <div class="down">
            <button type="button" onclick="$('#section4').goTo();"></button>
        </div>
    </section>

    <section id="section4">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2">
                <h1>LOS SERVICIOS BANCARIOS SON ELECTRÓNICOS</h1>
                    <p>"Ir al banco" antes significaba largas
                        filas en el banco y mucha pérdida de
                        tiempo. Sin embargo, la introducción
                        y difusión de la banca electrónica ha
                        transformado el significado de esa
                        frase.</p>
                    <p><a href="#/productos_servicios#servicios_bancarios">Ver más</a></p>                
                </div>
                <div class="col-sm-4 wp4">
                    <img src="img/home/home4.png" class="img-responsive home-img pull-left"/>
                </div>
            </div>
        </div>
        <div class="down">
            <button type="button" onclick="$('#section5').goTo();"></button>
        </div>
    </section>

    <section id="section5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-2 wp5">
                    <img src="img/home/home5.png" class="img-responsive"/>
                </div>
                <div class="col-sm-4">
                <h1>CRÉDITOS: PRÉSTAMOS</h1>
                    <p>Los bancos ofrecen préstamos para
                        uso personal, inversión empresarial,
                        compra de autos, construcción y
                        vivienda. Cada tipo de préstamo tiene
                        términos y condiciones...
                    </p>
                     <p><a href="#/productos_servicios#creditos">Ver más</a></p>       
                    <br/>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- <div class="navPoints">
    <ul>
        <li><button id="btnSection1" type="button" onclick="$('#section1').goTo();"></button></li>
        <li><button id="btnSection2" type="button" onclick="$('#section2').goTo();"></button></li>
        <li><button id="btnSection3" type="button" onclick="$('#section3').goTo();"></button></li>
        <li><button id="btnSection4" type="button" onclick="$('#section4').goTo();"></button></li>
        <li><button id="btnSection5" type="button" onclick="$('#section5').goTo();"></button></li>
    </ul>
</div> -->

