<div class="container">
	<div class="col-sm-9 main-content">
		<br><br>
		<div class="row">
			<section>
				<h1 class="heading">BANCO CENTRAL DEL ECUADOR</h1>
				<div class="row">
				<div class="col-xs-12 col-sm-10">
					<p>Es una entidad autónoma de derecho público, es decir está manejada y supervisada por el estado, de duración indefinida y con patrimonio propio.
					</p>
					<p>
						El Banco cumple funciones que han estado claramente definidas por la ley que ninguna otra institución cumple en el país.
					</p>
					<p>La participación del Banco Central del Ecuador, en la vida de las personas y los
						sectores productivos, es totalmente palpable al facilitar que las actividades económicas puedan realizarse con normalidad.
					</p>
					<p>
						Entre las funciones del Banco vale mencionar las siguientes:
					</p>
					<p>
						<ul>
							<li>Posibilita que las personas dispongan de billetes y monedas en la cantidad, calidad y en las denominaciones necesarias.</li>
							<li>Facilita los pagos y cobros que todas las personas realizan en efectivo, 	o a través del sistema financiero privado.</li>
							<li>Evalúa, monitorea y controla permanentemente la cantidad de dinero de la
								economía, para lo que utiliza como herramienta el encaje bancario.
							</li>
							<li>Revisa la integridad, transparencia y seguridad de los recursos del Estado
								que se manejan a través de nuestras operaciones bancarias.
							</li>
							<li> Ofrece a las personas, empresas y autoridades públicas información para 	la toma de decisiones financieras y económicas.
							</li>
						</ul>
					</p>
				</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-5 col-sm-offset-2">
						<img src="img/medio_financiero/medio_financiero1.png" alt="" class="img-responsive"/>
					</div>
				</div>				
			</section>
		</div>	

		<div class="row" style="padding-top: 50px;" id="superintendencia">
			<section>
				<h1 class="heading">SUPERINTENDENCIA DE BANCOS Y SEGUROS.</h1>
				<div class="row">
				<div class="col-xs-12 col-sm-10">
					<p>La Superintendencia de Bancos y Seguros es un ente jurídico de derecho público, y autónomo, que se encarga de supervisar las actividades que cumplen los actores del sector financiero ecuatoriano también realiza visitas programadas y no programadas a las instituciones para llevar a cabo auditorías.
					</p>
					<p>
						Entre sus funciones principales están las siguientes:
					</p>
					<p>
						<ul>
							<li>Velar por el funcionamiento correcto de todas las instituciones 	financieras que se encuentren bajo las normativas y control de 	esta entidad.
							</li>
							<li>Realizar inspecciones periódicas a las instituciones, con la fi nalidad de analizar la situación económica y verificar si está funcionando de acuerdo a lo establecido.</li>
							<li>
								Verifi car que se cumplan con todas las normas establecidas, y en caso de que se esté incumpliendo sancionar a los responsables.
							</li>
							<li>
								Permitir el acceso a la central de riesgos, de tal forma que permita contar con información consolidada de los principales deudores que tienen créditos dentro de las diferentes instituciones.
							</li>
							<li>Imponer sanciones a aquellas instituciones que se encuentren
								incumpliendo las disposiciones que las norman, y de igual manera a todos los que se encuentren involucrados de una u otra manera.</li>
								<li>Buscar que todas las instituciones fi nancieras bajo su control acojan todas y cada una de las normativas establecidas.</li>
								<li>De esta manera se puede decir que la Superintendencia de Bancos y
									Seguros es un organismo muy importante, ya que está encargado de autorizar la constitución del sistema financiero privado, siendo así que en el caso de la Banca se constituirá como una compañía anónima, a diferencia de las mutualistas y Cooperativas de Ahorro y Crédito.</li>									
								</ul>
							</p>
						</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-5 col-sm-offset-2">
								<img src="img/medio_financiero/medio_financiero2.png" alt="" class="img-responsive"/>
							</div>
						</div>									
					</section>
				</div>	

				<br><br>
		
				<div class="row" style="padding-top: 50px;" id="junta_bancaria">
					<section>
						<h1 class="heading">JUNTA DE POLÍTICA Y REGULACIÓN MONETARIA Y FINANCIERA</h1>
						<div class="row">
						<div class="col-xs-12 col-sm-10">
							<p>La junta está conformada por los titulares de los ministerios de Estado responsables de la política económica, de la producción, de finanzas públicas, el titular de la planificación del estado y un delegado del presidente de la Republica.
							</p>
							<p>Entre las principales funciones:</p>
							<p>
								<ul>
									<li>Formular y dirigir las políticas monetarias, crediticias, cambiarias y financieras, incluyendo la política de seguros y valores.</li>
									<li>Regular mediante normas las actividades financieras que ejercen las entidades del sistema financiero.</li>
									<li>
										Regular la creación, constitución, organización, operación y liquidación de las entidades financieras de seguros y de valores.
									</li>
									<li>
										Prevenir y desincentivar prácticas fraudulentas, incluidos el lavado de activos y el financiamiento de delitos como terrorismo.
									</li>
									<li>
										Establecer los cargos por los servicios que presten las entidades financieras, de valores y seguros así como las entidades no financieras que otorguen créditos y los gastos con terceros derivados de las operaciones que incurran en los usuarios de estas entidades.
									</li>
								</ul>
							</p>
						</div>	
						</div>	
					</section>
				</div>
				
				<br>
				<br>
				<br>
				<br>
			</div>

			<div class="col-sm-3" style="padding:0;">
				<br><br>
				<aside>
					<h4 class="aside-heading">Contenidos de sección</h4>
					<ul>
						<li><a onclick="$('.main-menu').goTo();">Banco Central del Ecuador</a></li>
						<li><a onclick="$('#superintendencia').goTo();">Superintendencia de Bancos y Seguros</a></li>
						<li><a onclick="$('#junta_bancaria').goTo();">Junta Bancaria</a></li>						
					</ul>
				</aside>
			</div>			
		</div>